@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <title>Write Data to a File</title>
</head>
<body>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Results[0].Date)</th>
            <th>@Html.DisplayNameFor(m => m.Results[0].Title)</th>
            <th></th>
        </tr>
        @{
            foreach (var row in Model.Results)
            {
                <tr>
                    <td>@Html.DisplayFor(m => row.Date)</td>
                    <td>@Html.DisplayFor(m => row.Title)</td>
                    <td><a asp-route="Route01" asp-route-title="@row.Title" asp-route-place="0" asp-route-race="1">詳細</a></td>
                </tr>
            }
    }
    </table>
</body>
</html>